@charset "UTF-8";

* {
    margin: 0;
    padding: 0;

}

body {
    background-color: brown;
    font-family: Arial, Helvetica, sans-serif;

}

.sanfona {
   width: 805px;
   height: 300px;
   overflow: hidden;
   margin: 100px auto;
   box-shadow: 0 0 10px 1px rgb(0, 0, 0, 0.35);
   -webkit-box-shadow: 0 0 10px 1px rgb(0, 0, 0, 0.35);
   


}


.sanfona ul {
    width: 2000px;
    
}

.sanfona li {
position: relative;
display: block;
width: 150px;
float: left;
border-left: 1px solid #888;
box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
-webkit-box-shadow: 0 0 10px 1px rgb(0, 0, 0, 0.35);
transition: all 0.5s;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
}

img {
    height: 350px;
    width: 500px;
}


.sanfona ul:hover li {width: 40px;}

.sanfona ul li:hover {width: 640px;}

.sanfona li img {

    display: block;
}