@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: #eee;

}

header {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 900;
    color: black;
}

.container {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
gap: 2vw;
padding: 0 1vw;


}


.items{
    width: 340px;
    height: 340px;
    box-shadow: 5px 5px 5px black;
    flex-grow: 1; 
    transition: transform .5s linear;
}

.items:hover{
transform: scale(1.3);
filter: none;
border: 10px solid white;


}
.items img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}